text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: white;
    text-anchor: middle;
  }
  path {
      fill: orange;
      stroke: white;
  }
  .heatmapLink{
    width: 7%;
    text-decoration: underline;
    position: relative;
    float: right;
  }
  #nav{
    margin: 0 auto;
    background-color:#72a4d0;
    color: white;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid #a59b9b;
    width: 100%;
    display: inline-block;
}
.scctText{
    text-align: center;
}