text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: white;
    text-anchor: middle;
  }
  path {
      fill: orange;
      stroke: white;
  }
  .heatmapLink{
    width: 7%;
    text-decoration: underline;
    position: relative;
    float: right;
  }