.scct{
    width: 100%;
    margin:0 auto;
    display: inline-block;
}
#nav{
    width: 100%;
    margin: 0 auto;
    background-color:#72a4d0;
    color: white;
    display: inline-block;
    border-bottom: 1px solid #a59b9b;
}
#menu{
    width: 20%;
    height: 100vh;
    float: left;    
    border-right: 1px solid #a59b9b;
}
.right-panel{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
}
.scctText{
    text-align: center;
}
.myclass {
    color: black;
    font-size: 20px;
}
.firstmatpanel{
    padding: 0 10%;
    background-color: #ffff;;
    font-weight: bold;
    padding: 0;
}
mat-accordion{
    width:10% !important;
}
mat-expansion-panel {
    padding:2% !important;
    background-color: #ffff;;
}
.mat-expansion-panel-content{
    padding:0;
}
.btn{
    background-color: #72a4d0;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #adadad;
}
mat-form-field{
    width: 100%;
}
.form-attr {
    max-width: 100% !important;
}
.borderless{
    border: none;
}

.excessbutton{
    line-height: normal;
}
.excessUnit, .excessValue{
    padding: 10% 10%;
    font-size: 10px;
    font-weight: 700;
}
.excessValue{
    margin-top: 97%;
}
.days{
    padding: 10%;;
    font-size: 10px;
    font-weight: 700;
}
.obsolClass{
    width: 100%;
    padding: 8% 4%;
    font-size: 10px;
    font-weight: 700;
    margin-left: 0;
    display: inline-block;
}
button:hover{ 
    background: #007fab !important;
    color: #fff !important;
    border: 1px solid #007fab !important;
}
.myClass{
    border: 2px solid #007fab;
    background: #007fab!important;
    color: #fff;
}

.button-group {
    width: 92%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    left: 0%;
    padding-top: 2%;
}
.empty{
    margin-top: 20%;
}
#div1{
    width:16%;
    display: inline-block;
}

.button-group button:nth-child(1){
    margin-right:3%;
}
.button-group button:nth-child(2){
    margin-right:3%;
}
.button-group button {
    width: 30%;
    color:#000;
    font-weight: bold;
    border: 1px solid #adadad;
    font-family: Arial, Helvetica, sans-serif;
}

.center2{
    padding-left: 38%;
}
.generateHeatmap{
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.example-full-width .mat-form-field-infix{
    padding:0 !important;
}
.eoinventory-click{
    width: 100%;
    display: inline-block;
}
.eoinventory-click button:nth-child(1){
    width: 44%;
    padding: 5%;
    float: left;
    display: inline-block;
}
.eoinventory-click button:nth-child(2){
    width: 50%;
    padding: 5%;
    float: right;
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
}
#eoinventory, #demand{
    width:98%;
}
#production-order{
    width:100%;
}
.sixtydays{
    margin-left: 56.5%;
}
.obsoluteclass{
    position: relative;
    left: -11.5%;
}

.maindiv{
    width: 100%;
    margin: 0 auto;
}
.col-md-4{
    padding-left: 0;
    padding-right: 0;
}


