.d3class{
    position: relative;
    margin-bottom: 5%;
    
}
svgclass{
    width: 100% !important;
    height: 100vh;
}
.noRecords{
    text-align: center;
    border: 1px solid #dddddd;
}
.noRecords img {
    width: 5% !important;
    left: 0;
}

