<div id="my_dataviz"></div>
<div id="svgTitle" style="display: inline-block;
    text-align: left;
    font-size: 1.75rem;
    font-family: helivertica arial;
    font-weight: 600;
    padding-left: 5px;" *ngIf="message!=''">{{svgTitle2}}</div>
<div class="d3class" *ngIf="!noRecordsFound">
    
     <div id="svgTitle" style="display: inline-block;
     text-align: left;
     font-size: 1.75rem;
     font-family: helivertica arial;
     font-weight: 600;
     padding-left: 5px;" *ngIf="message">{{svgTitle}}</div>
    <svg id="mydiv"></svg>
</div>
<div *ngIf="noRecordsFound" class="noRecords">
    <br>
    <br>
    <br>
    <img src="../../assets/dilema.png" alt="img not found">
    <h2 >No Records found</h2>
</div>
<!-- <span style='font-size:100px;'>&#128542;</span>
<font face="Segoe UI Symbol">&#x1f604;</font><br><br>
<font face="Arial">&#x1f604;</font> -->
