.d3class{
    position: relative;
    margin-bottom: 5%;
    
}
svgclass{
    width: 100% !important;
    height: 100vh;
}
.noRecords{
    position: relative;
    left: 38%;
}
img{
    width: 8%;
    position: relative;
    left: 5%;
}